@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;                          
}

:root {
    /* Primary */
    --pink: hsl(322, 100%, 66%);
    /* Neutral */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --open-sans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

.row{
    width: 90%;
    margin: 0 auto;
    /* max-width: 800px; */
}

header{
    background-image: url("../images/bg-hero-mobile.svg");
    background-color: var(--very-pale-cyan);
    min-height: 660px;
    background-repeat: no-repeat;
    background-position: cover;
}

.navbar{
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
}

.navbar__header{
    outline: 3px solid blue;
}

.navbar> img{
    height: 20px;
    width: 150px;
    object-fit: contain;
    padding: 0;
    margin: 0;
}

.navbar__header--button{
    padding: 10px 10px;
    background-color: white;
    border: 3px solid var(--very-pale-cyan);
    border-radius: 30px;
    font-family: var(--open-sans);
    font-weight: 700;
    margin-right: 10px;
    align-self: center;
    box-shadow: 0 0 5px;
}

.navbar__header--button > a{
    color: var(--grayish-blue);
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.section{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

@keyframes shake{25%{transform:rotate(1deg)}50%{transform:rotate(0deg)}75%{transform:rotate(-1deg)}100%{transform:rotate(0deg)}}
/* .section:hover{
    transform: translateX(-100%);
} */

.poppins-okay{
    font-family: var(--poppins);
    font-size: 1.5em;
}

.poppins-large{
    font-family: var(--poppins);
    font-size: 2rem;
    margin-bottom: 30px;
}

.poppins-almost-large{
    font-family: var(--poppins);
    font-size: 1.3em;
    margin-bottom: 30px;
}

.section__img{
    max-width: 100%;
    animation: leap 1s linear 2s;
}

@keyframes leap{
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0%);
    }
}


 img{
    width: 100%;
}

.section__text{
    text-align: center;
}

.section__text--button{
    padding: 10px 0;
    background-color: var(--pink);
    border: 3px solid var(--pink);
    border-radius: 30px;
    margin-bottom: 50px;
    width: 80%;
    max-width: 300px;
    animation:0.4s linear 0s running shake;
}

.section__text--button > a{
    color: white;
}

p{
    font-family: var(--open-sans);
    margin-bottom: 30px;
}

main {
    background-color: white;
}

.main__section{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px solid #fafafa;
    padding: 100px 0px 30px 0px;
    margin: 100px 0;
    border-radius: 20px;
    box-shadow: 0 0 5px;
}

.main__section > .section__text{
    padding: 0 20px;
    animation: jump 500ms ease-out 3s 2 !important;
}

@keyframes jump{
    0%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(0%);
    }
}


.section__text--header {
    margin: 50px 0 30px 0;
    color: var(--very-dark-cyan);
    text-align: center;
}

.section__text-paragraph {
    color: var(--grayish-blue);
    line-height: 2em;
    padding: 0 10px;
    
}


.call-to-action{
    padding: 60px 10px;
    background-color: #ffffff;
    box-shadow: 0 0 5px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: 120px;
    max-width: 700px;
    margin: 0 auto;
    animation: sink 3s 1 10s ease-in-out;
}

@keyframes sink{
    from {
        transform: rotateX(45deg);
        transform: rotateY(60deg);
    }
    
    to{
        transform: rotate(0deg);
    }
}

.call-to-action--button{
    padding: 10px 0;
    background-color: var(--pink);
    border: 3px solid var(--pink);
    border-radius: 30px;
    width: 80%;
}

.call-to-action--button > a{
    color: white;
}

footer{
    background: var(--very-dark-cyan);
    min-height: 970px;
}

.footer-bahd{
    color: white;
    position: relative;
    top: 200px;
}
.footer__contact--details{
    display: flex;
    flex-direction: column;
}
.footer__header{
    max-width: 100%;
}

.footer__header > img{
    object-fit: contain;
    width: 50%;
    height: 100px;
    margin-left: 10px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(338deg) brightness(102%) contrast(105%);
}

.footer__location > img, .footer__phone > img, .footer__email > img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    margin-right: 30px;
}

.footer__location > p, .footer__phone > p, .footer__email > p{
    margin-left: 10px;
}

.footer__location, .footer__phone, .footer__email{
    display: flex;
}

li {
    list-style: none;
}

.footer__list--primary, .footer__list--secondary{
    display: flex;
    flex-direction: column;
    font-family: var(--poppins);
    padding-bottom: 10px;
}

.footer__list--primary > ul> li, .footer__list--secondary >ul > li{
    margin-bottom: 10px;
}

.footer__list--secondary{
    margin-bottom: 30px;
}

.footer__socials{
    width: 50%;
    display: flex;
    margin: 0 auto;
}

.footer__socials > i{
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
    margin-left: 20px;
    margin: 0 auto;
}

.footer__paragraph{
    margin: 20px auto;
    text-align: center;
}

@media (min-width: 768px){
    header{
        min-height: 600px;
    }
    
    .section{
        flex-direction: row;
        gap: 20px;
        margin: 50px 0; 
        padding: 30px 0;
        align-items: center;
    }

    .section__text{
        text-align: left;
    }

    .main__section{
        flex-direction: row-reverse;
        align-items: center;
        padding: 0 30px;
        gap: 20px;
    }

    .section__text{
        text-align: left;
    }

    .section__text--button{
        padding: 10px 0;
        background-color: var(--pink);
        border: 3px solid var(--pink);
        border-radius: 30px;
        margin-bottom: 0px;
        width: 80%;
    }

    .section__text--header {
        margin: 50px 0 30px 0;
        text-align: left;
    }

    .section__text-paragraph {
        color: var(--grayish-blue);
        line-height: 2em;
        padding: 0;
    }

    img{
        padding: 40px 0;
    }

    .footer__body{
        display: flex;
        gap: 50px;
    }

    .footer__header > img{
        width: 200px;
        height: 100px;
    }

    .footer__location > img, .footer__phone > img, .footer__email > img {
        height: 100px;
        margin-top: -35px;
        width: 50px;
    }

    .footer__location > p, .footer__phone > p, .footer__email > p{
        margin-left: 10px;
    }
    
    .footer__list--primary > ul> li, .footer__list--secondary >ul > li{
        margin-bottom: 20px;
        width: 100%;
    }

    .footer__contact--details{
        width: 40%;
    }

    .footer__socials{
        width: 20%;
        display: flex;
        margin: 0 auto;
    }

    .footer__socials > i{
        height: 40px;
        border-radius: 50%;
        margin-left: 5px;
        margin: 0 auto;
    }

    footer{
        min-height: 700px;
    }

    .footer__paragraph{
        margin: 20px 0;
        text-align: right;
    }
}